// Variable Color's
$background: rgba(15, 15, 23, 0.4);
//$background: transparent;
$foreground: #107357;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #04BF8A;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: #ffffff;
