* {
    base:            #1a110f;
    mantle:          #231917;
    crust:           #140c0a;

    surface0:        #271d1b;
    surface1:        #322825;
    surface2:        #3d322f;

    overlay0:        #a08c87;

    subtext0:        #d8c2bc;
    text:            #f1dfda;

    accent:          #ffb59f;
    accent2:         #d8c68d;

    red:             #ffb4ab;
    yellow:          #d8c68d;
    green:           #ffb59f;
    blue:            #e7bdb2;

    bg-main:         rgba(26, 17, 15, 0.01);
    bg-alt:          rgba(39, 29, 27, 0.90);
    bg-selected:     rgba(255, 181, 159, 0.2);

    fg-main:         #f1dfda;
    fg-dim:          #d8c2bc;
    fg-selected:     #ffb59f;

    border-col:      rgba(255, 181, 159, 0.80);
    urgent-col:      #ffb4ab;
}
